@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:focus {
    outline: none;
    border: none;
}

.smart-highlight {
    position: relative;
}

.smart-highlight::before {
    content: "";
    position: absolute;
    background: rgb(244 63 94);
    z-index: -1;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.sidebar-toggle {
    position: absolute;
    top: 0;
    height: 100%;
    width: 12px;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 50%;
    margin: 2px 0;
    transition: transform 0.3s;
}

.sidebar-toggle.collapsed::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 50%;
    margin: 2px 0;
    box-shadow: 0 6px 0 0 #888, 0 12px 0 0 #888;
    transition: transform 0.3s;
}